<ion-header>
  <ion-toolbar>
    <ion-title>Sondage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>{{projetVote.projet.title}}</h2>
  <h3>{{projetVote.projet._description}}</h3>
  <h4>{{projetVote.projet.projetCategory.label}}</h4>

  <ion-list>
    <ion-item>
      <ion-label>Oui:</ion-label>
      <ion-text>{{ projetVote.forVote }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Non:</ion-label>
      <ion-text>{{ projetVote.totalVote - projetVote.forVote }}</ion-text>
    </ion-item>
  </ion-list>
  <h3 *ngIf="projetVote.canVote">Choisir une option :</h3>
  <ion-item *ngIf="projetVote.canVote">

    <ion-select [(ngModel)]="selectedOption">
      <ion-select-option value="oui">Oui</ion-select-option>
      <ion-select-option value="non">Non</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button *ngIf="projetVote.canVote" expand="full" (click)="submitSurvey()">Soumettre</ion-button>
  <ion-text *ngIf="!projetVote.canVote">Vous avez déjà voté</ion-text>
</ion-content>
