<ion-content class="ion-padding">
  <div class="pyramid-loader">
    <div class="wrapper">
      <span class="side side1"></span>
      <span class="side side2"></span>
      <span class="side side3"></span>
      <span class="side side4"></span>
      <span class="shadow"></span>
    </div>
  </div>
  
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-item>
          <ion-label position="floating">Nom d'utilisateur</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center align-items-center>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-item>
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-button color="white" expand="full" (click)="login()">Se connecter</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>