/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


@font-face {
    font-family: 'Spline Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/splinesans/v9/_6_7ED73Uf-2WfU2LzycEbAsmC0PSQ.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spine Sans",sans-serif;
}

ion-button {
    height: 50px;
    margin: 5px;
    cursor: pointer;
    background-color: #7C4DFF;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Consolas, Courier New, monospace;
    border: solid #754CFF 1px;
    font-size: 16px;
    color: rgb(161, 161, 161);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    background: linear-gradient(145deg, #4A2A99, #360E6F);
    -webkit-box-shadow: -1px -5px 15px #471C8B, 
                 5px  5px 15px #471C8B, 
      inset      5px  5px 10px #360E6F, 
      inset     -5px -5px 10px #360E6F;
    box-shadow: -1px -5px 15px #471C8B, 
                 5px  5px 15px #471C8B, 
      inset      5px  5px 10px #360E6F, 
      inset     -5px -5px 10px #360E6F;
  }
  
  ion-button:hover {
    -webkit-box-shadow: 1px 1px 13px #300A67,
                      -1px -1px 13px #4A2A99;
    box-shadow: 1px 1px 13px #300A67,
               -1px -1px 13px #4A2A99;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  ion-button:active {
    -webkit-box-shadow: 1px 1px 13px #300A67,
                       -1px -1px 33px #4A2A99;
    box-shadow: 1px 1px 13px #300A67,
               -1px -1px 33px #4A2A99;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
  }