<ion-header>
  <ion-toolbar>
    <ion-title>Liste des sondages</ion-title>
    <ion-icon name='log-out' (click)="logout()" class="icon-logout"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="btn" color="#fff" *ngFor="let item of projets" (click)="onItemClick(item.id)">
      {{ item.title }}
    </ion-item>
  </ion-list>
</ion-content>

